body {
}

main {
display: flex;
background-image: none;
background-color: transparent;
}

.left-side-main-section {
  /* display: flex; */
  border: 0;
  display: inline-grid;
  grid-template-columns: 3, 1fr;
  grid-template-rows: 3, 1fr;
  height: 100vh;
  width: 60%;
  grid-template-areas:
            "gi1 gi1 gi2"
            "gi3 gi4 gi5"
            "gi6 gi7 gi8";
}

#a1 {
  background-color: #6DECFF;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-area:  gi1;}

#a2 {
  background-color: #57BDCC;
  background-position: 50%;
  background-size: 35%;
  background-repeat: no-repeat;
  background-image: url("../images/icon-experience.png");
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-area: gi2;
}

#a3 {
  background-color: #BAF6FF;
  background-position: 50%;
  background-size: 35%;
  background-repeat: no-repeat;
  background-image: url("../images/icon-social.png");
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-area: gi3;
}

#a4 {
  background-color: #6DAEDB;
  background-position: 50%;
  background-size: 35%;
  background-repeat: no-repeat;
  background-image: url("../images/icon-education.png");
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-area: gi4;
}

#a5 {
  background-color: #2EC0F9;
  background-position: 50%;
  background-size: 35%;
  background-repeat: no-repeat;
  background-image: url("../images/icon-contact.png");
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-area: gi5;
}

#a6 {
  background-color: #63ADF2;
  background-position: 50%;
  background-size: 35%;
  background-repeat: no-repeat;
  background-image: url("../images/icon-profile.png");
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-area: gi6;
}

#a7 {
  background-color: #1D70A2;
  background-position: 50%;
  background-size: 35%;
  background-repeat: no-repeat;
  background-image: url("../images/icon-blog.png");
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-area: gi7;
}

#a8 {
  background-color: #58C3E8;
  background-position: 50%;
  background-size: 35%;
  background-repeat: no-repeat;
  background-image: url("../images/icon-potfolio.png");
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-area: gi8;
  height: auto;
  width: auto;
}
.right-side-main-picture {
  border: 3px solid black;
  background-image: url("../images/hoodieMan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40%;
}
