body {
}

main {
display: flex;
font-family: 'PT Sans Narrow', sans-serif;

}

.left-side-main-section {
  border: 0;
  display: inline-grid;
  grid-template-areas:
            "gi1 gi1 gi2"
            "gi3 gi4 gi5"
            "gi6 gi7 gi8";
  height: 100vh;
  width: 60%;
}

nav .grid-main-text {
  justify-content: center;
  display: flex;
  position: relative;
  top: 50%;
}

#main-h1 {
  font-size: 35px;
}

#main-p {
  font-size: 18px;
}

.first-grid-buttons {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  transition: 0.8s;
  width: 90px;
}
.first-grid-buttons:hover {
  background: white;
  color: black;
  cursor: pointer;
}

#a1 {
  background-color: #6DECFF;
  grid-area:  gi1;
}

#a2 {
  background-color: #57BDCC;
}

.a2-div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

#a2 img {
  height: 35%;
  width: 35%;
}

#a3 {
  background-color: #BAF6FF;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 35%;
  width: 35%;
}

/* #a3 img {
  height: 35%;
  width: 35%;
} */

#a4 {
  background-color: #6DAEDB;

}

/* #a4 img {
  height: 35%;
  width: 35%;
} */

#a5 {
  background-color: #2EC0F9;

}

#a6 {
  background-color: #63ADF2;

}

#a7 {
  background-color: #58C3E8;

}

#a8 {
  background-color: #1D70A2;

}


.right-side-main-picture {
  border: 3px solid black;
  background-image: url("../images/hoodieMan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  width: 40%;
}

.arrow-buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.arrow-buttons img {
  height: 8%;
  width: 8%;
}

/* @media screen and (max-width: 900px) {
  main {
  display: flex;

} */



@media screen and (max-width: 420px) {
  main {
  display: flex;

  }

  .left-side-main-section {
    /* grid-template-columns: 3, 1fr;
    grid-template-rows: 3, 1fr; */
    
    height: 100vh;
    width: 100%;
    /* grid-template-areas:
              "gi1 gi1 gi2"
              "gi3 gi4 gi5"
              "gi6 gi7 gi8"; */
    /* position: absolute; */
  }
  .right-side-main-picture {
    /* position: relative; */
    width: 100%;
  }
}
